<div class="announcement">
  <h2 class="header">Announcement</h2>
  <div style="text-align:center;">
    <%= image_tag @announcement.avatar %>
  </div>
  <div style="text-align:center; font-size:20px">
    <%= render @announcement %>
  </div>

  <div style="text-align:center">
    <% if current_user.has_role? :admin%>
        <div class ="editback" style = "padding:20px;">
          <%= link_to "Edit", edit_announcement_path(@announcement) %> |
          <%= link_to "Back", announcements_path %>
        </div>
        <div class ="deletbtn" style = "padding:20px;">
          <%= button_to "Delete", @announcement, method: :delete %>
        </div>        
    <%else%>
      <a href ="/message">Back</a>
    <%end%>
  </div>

</div>
