<div id="<%= dom_id testresult %>">
  <p>
    <strong>Pid:</strong>
    <%= testresult.pid %>
  </p>

  <p>
    <strong>Testdate:</strong>
    <%= testresult.testdate %>
  </p>

  <p>
    <strong>Test result:</strong>
    <%= testresult.test_result %>
  </p>

  <p>
    <strong>Recovered:</strong>
    <%= testresult.recovered %>
  </p>

</div>
