<!DOCTYPE html>
<html>
  <head>
    <title>MOHBhutan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
      <nav class="main-nav">
        <input type="checkbox" id="check" />
        <label for="check" class="menu-btn">
          <i class="fas fa-bars"></i>
        </label>
        <span class="logo">Covid19</span>
        <ul class="navlinks">
          <% if user_signed_in?%>
            <% if current_user.has_role? :admin%>
              <li><%= link_to "Dashboard",admin_path%></li>
              <li><%= link_to "Invite", new_user_invitation_path%></li>
              <li><%= link_to "Announcement", announcements_path %></li>
              <li><%= link_to "Patients", patient_all_details_path %></li>
              <li><%= link_to "Invited User", all_invited_user_path %></li>
            <%else%>
              <li><%= link_to "Dashboard",dashboard_path%></li>
              <li><%= link_to "add patient",patients_path%></li>
              <li><%= link_to "transfer request",patient_transfer_request_path%></li>
              <li><%= link_to "Announcement", message_path %></li>
            <%end%>
            <li><a href="/users/edit">Profile</a></li>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li> 
            <li style="border:1px solid blue;border-radius:70%;padding:0px 20px;"><%= current_user.full_name%></li>
          <%else%>
            <li><%= link_to "login", new_user_session_path%></li>
        <%end%>
        </ul>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="notice"><%= alert %></p>
    <%= yield %>
  </body>
</html>
